<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  
  <!--! MAIN CONTAINER START -->
  <main class="container">
    
    {% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
      {% if messages %}
      <!-- check if there are any messages -->
        {% for message in messages %}
        <!-- loop through the messages -->
          <p>{{message}}</p>
          <!-- display each message in a paragraph tag -->
        {% endfor %}
      {% endif %}
    {% endwith %}


    
    <h1>
      Add a new user
    </h1>
    <!--! FORM START -->
    <form 
    class=""
    action="/create/user"
    method="post">
      <!-- ! FIRST NAME -->
      <div>
        <label
          for="first_name"
          class="flex col">
            First Name
            <input 
              class="input-field" 
              type="text" 
              name="first_name" 
              id="first_name" 
              placeholder="first name">
        </label>
      </div>
      <!-- ! LAST NAME -->
      <div>
        <label 
          for="last_name"
          class="flex col">
            Last Name
          <input 
            class="input-field" 
            type="text" 
            name="last_name" 
            id="last_name" 
            placeholder="last name">
        </label>
      </div>
      <!--! EMAIL -->
      <div>
        <label for="email"
          class="flex col">
            Email
          <input 
            class="input-field" 
            type="email" 
            name="email" 
            id="email" 
            placeholder="email">
        </label>
      </div>
      <!--! SUBMIT BUTTON -->
      <div>
        <input 
          class="btn" 
          type="submit" 
          value="create user">
      </div>
    </form>
    <!--! FORM END -->
    <div>
      <a href="/users">
        <button class="btn" type="button">
          list of users
        </button>
      </a>
    </div>
    
  </main>
  <!--! MAIN CONTAINER END -->
</body>
</html>