<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read (all)</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <!--! MAIN CONTAINER START -->
  <main class="container">
    <h1>
      All Users
    </h1>
    <!-- ! TABLE START -->
    <div>
      <table class="cntr-txt">
        <thead>
          <tr>
            <td class="w-5">id</td>
            <td class="w-15">first name</td>
            <td class="w-15">last name</td>
            <td class="w-25">email</td>
            <td class="w-35">actions</td>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td class="w-5">
              {{ user.id }}
            </td>
            <td class="w-15">
              {{ user.first_name }}
            </td>
            <td class="w-15">
              {{ user.last_name }}
            </td>
            <td class="w-25">
              {{ user.email }}
            </td>
            <td class="w-35">
              <a href="/user/{{ user.id }}">
                <span>
                  show
                </span>
              </a>
              <span>
                |
              </span>
              <a href="/update/{{ user.id }}">
                <span>
                  edit
                </span>
                <span>
                  |
                </span>
              </a>
              <a href="/delete/user/{{ user.id }}"
              >
                <span>
                  delete
                </span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- ! TABLE END -->
      <a href="/">
        <button class="btn" type="button">
          add a new user
        </button>
      </a>
  </main> 
  <!-- ! MAIN CONTAINER END -->
</body>
</html>