* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau Office', sans-serif;
  color: chartreuse;
}

body {
  background-color: black;
  background-color: darkblue;
}

.container {
  width: 700px;
  height: 1500px;
  margin: 0px auto;
  padding-top: 20px;
  line-height: 2em;
}

.input-field {
  background-color: chartreuse;
  color: black;
  height: 50px;
  border-radius: 10px;
  margin: 10px 0;
  padding-left: 20px;
  font-size: 25px;
  font-weight: bold;
}

.submit-btn {
  margin-top: 40px;
  height: 50px;
  border-radius: 10px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(235, 153, 153);
  width: 100%;
  text-transform: uppercase;
}
.submit-btn:hover {
  background-color: #66f872;
}

.btn {
  text-align: center;
  margin-top: 40px;
  height: 50px;
  border-radius: 10px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(235, 153, 153);
  width: 100%;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #66f872;
}

.rowhov:hover {
  background-color: #66f872;
}

h1 {
  margin: 20px 0 auto;
  text-align: center;
}

h2 {
  font-size: 3em;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 20px;
}
thead {
  background-color: rgb(0, 0, 0);
}

thead tr {
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
}

tbody tr {
  border-top: 1px solid rgb(126, 117, 255);
}

table td {
  padding: 10px;

}

tbody tr:hover td {
  background-color: rgb(80, 68, 48);
}


a {
  text-decoration: none;
}

.cntr-txt {
  text-align: center;
}

    /** DISPLAY **/

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.p2tb {
  padding: 1em 0;
}

.p12 {
  padding: 12px;
}
