* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau Office', sans-serif;
  color: rgb(251, 254, 237);
}

body {
  background-color: rgb(59, 64, 86);
  font-size: 18px;
}

.container {
  width: 800px;
  /* height: 1500px; */
  margin: 0px auto;
  padding-top: 20px;
  line-height: 2em;
}

.input-field {
  background-color: rgb(251, 255, 233);
  color: black;
  height: 50px;
  border-radius: 10px;
  margin: 10px 0;
  padding-left: 20px;
  font-size: 25px;
  font-weight: bold;
}

/*
============= FORMS =============
*/

.btn {
  text-align: center;
  margin-top: 40px;
  height: 50px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  background-color: #ffd4d4;
  width: 100%;
  border-radius: 35px;
  border-style: 20px outset;
  border: none;
  box-shadow: 10px 10px rgb(27, 27, 76);
}

.btn:hover {
  background-color: #c3fbc2; 
  box-shadow: 3px 3px rgb(0, 0, 0);
  transform: scale(0.98);
}

.btn:active {
  box-shadow: 3px 3px rgb(0, 0, 0);
  transform: scale(0.98);
}

/*
============= HEADINGS =============
*/

h1 {
  margin: 20px 0 auto;
  text-align: center;
}

h2 {
  font-size: 3em;
}

/*
============= TABLES =============
*/

table {

  width: 800px;
  margin-top: 20px;
  text-align: left;
  border-spacing: 0;
}

table tbody {
  display: block;
  overflow-y: scroll;
  height: 300px;
  width: 800px;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

table tbody::-webkit-scrollbar {
  width: 0;
  height: 0;
}

th, td {
  padding: 0px 15px;
}

thead {
  background-color: rgb(12, 26, 54);
  display: block;
}

table tbody tr:nth-child(even) {
  background-color: rgb(77, 87, 149);
}

table tbody tr:nth-child(odd) {
  background-color: rgb(126, 101, 101);
}

tbody tr:hover td {
  background-color: rgb(27, 49, 42);
}
/* 
.brtl {
  border-top-left-radius: 20px;
}

.brtr {
  border-top-right-radius: 20px;
}

.brbl {
  border-bottom-left-radius: 20px;
}

.brbr {
  border-bottom-right-radius: 20px;
} */

.w-5 {
  width: 5%;
}

.w-15 {
  width: 15%;
}

.w-25 {
  width: 25%;
}

.w-35 {
  width: 35%;
}

a {
  text-decoration: none;
}

.cntr-txt {
  text-align: center;
}

/*
============= DISPLAY =============
*/

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.p2tb {
  padding: 1em 0;
}

.p2rl {
  padding: 0 22px;
}

.p12 {
  padding: 12px;
}
